{% extends 'base.html' %} 

{% block website_title %} List of all Students {% endblock %}

{% block row %}
<div class="row">

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <a href="addStudent" class="btn btn-primary float-end">Add User</a>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">STUDENT ID</th>
              <th scope="col">STUDENT NAME</th>
              <th scope="col">COURSE & SECTION</th>
              <th scope="col">EMAIL</th>
              <th scope="col">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for i in students %}
            <tr>
              <th scope="row">{{i.student_id}}</th>
              <td>{{i.student_name}}</td>
              <td>{{i.course_section}}</td>
              <td>{{i.student_email}}</td>
              <td>
                <a href="{% url 'students:editStudent' i.student_id %}" class="editUserBtn btn btn-success btn-sm">Edit</a>

              <form  method="POST" action="{% url 'students:delete_student' i.student_id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" name="delete_student" value="{{ i.student_id }}" class="btn btn-danger btn-sm">Delete</button>
              </form>

            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
